<script type="module" src="~/js/gmail-widget/unauthenticated-user.js" section-name="Bottom" assembly-ref="Renderer"></script>

<div>
    @* TODO: Resource label *@
    In order to use our gmail widget you would need to authenticate using your Google account.
    <br />
    <button id="authneticate-btn" class="btn btn-info">Log In</button>
</div>

